<% provide(:title, "Sharify") %>


<h1>Willkommen auf Sharit</h1>
<p>Die Plattform auf der du deine Netzfundstücke teilen kannst.</p>
<p><%= link_to "Registrieren", new_user_registration_path, class: "btn btn-primary btn-lg" %>


