<% provide(:title, "Sharify") %>



<div class="col-md-12 text-center start">
	<h1 class="home-font">Willkommen auf Sharit</h1>
	<h2 class="text-center home-font">Kuratiere deine Netzfundstücke</h2>
    <%= link_to "Registrieren", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</div>


