<% provide(:title, "Impressum") %>

<div class="forms static-info">

<h1>Impressum</h1>

<p>Sharit ist ein Service der</p>

<address>
	Eudaimonia GmbH <br>
	Köpenicker Straße 23 <br>
	10997 Berlin
</address>

<address>
	Tel.: 030 346321 60 <br>
	E-Mail: kontakt@sharit.de
</address>

<address>
	Registergericht: AG Charlottenburg (Berlin) <br>
	Registernummer: HRB 341231 B <br>
	USt-ID: DE300314608 <br>
</address>


<p>
	Geschäftsführer: Ole Meier, Christian Hildebrandt <br>
	Inhaltlich Verantwortlicher gemäß § 55 Abs. 2 RStV: Till Franke, Eudaimonia GmbH, Köpenicker Straße 23, 10997 Berlin
</p>

<p>
Datenschutz ist uns ein wichtiges Anliegen. Hierbei werden wir durch eine externe Datenschutzbeauftragte unterstützt: Klara Brunhilde, Brun Datenschutz GmbH, Königstraße 312, 10557 Berlin
</p>

<p>
Die EU-Website zur Online-Streitbeilegung finden Sie hier: <%= link_to "http://ec.europa.eu/consumers/odr/", url: "http://ec.europa.eu/consumers/odr/" %>
</p>

<p>
Wenn du Sicherheitsprobleme auf sharit.de entdeckst, schick uns eine Nachricht an security@sharit.de
</p>

</div>


