<% provide(:title, "Nutzungsbedingungen") %>
<br>

<h2>Nutzungsbedingungen</h2>

<div class="info-box">
<p>
Willkommen bei Sharit! Die nachfolgenden Nutzungsbedingungen regeln die kostenlose Nutzung von Sharit“ durch registrierte Nutzer (nachfolgend: „Mitgliedschaft“) über das Internet, mobile Dienste, Apps, andere Domains oder Kommunikationswege:
</p>

<p>

<br>
<h3>1. Anmeldung und Registrierung, Benutzerkonto</h3>

    <p>1.1 Die Mitgliedschaft kommt durch unsere Bestätigung deiner Mitgliedschaft zustande.</p>

    <p>
    1.2 Du musst mindestens 18 Jahre und voll geschäftsfähig sein.
    </p>
    1.3 Bei der Anmeldung musst du wahrheitsgemäße, aktuelle und vollständige Angaben machen und deine Daten, vor allem Name und Anschrift, im Mitgliedskonto stets aktuell halten. Mehrfache Anmeldungen unter verschiedenen Mitgliedsnamen sind untersagt; eine erneute Anmeldung, wenn wir eine Mitgliedschaft gekündigt und die Neuanmeldung verboten hatten, ist ebenfalls untersagt.
    <p>

    1.4 Die Mitgliedschaft ist persönlich und deine Zugangsdaten darfst nur du selbst verwenden, nicht z.B. auch Familienmitglieder oder Freunde. Du musst die Zugangsdaten zu deinem Benutzerkonto geheim halten. Bitte informiere uns umgehend, wenn du einen Missbrauch feststellst.
    </p>

</p>

<p>
<br>
<h3>2. Laufzeit und Kündigung</h3>

    <p>
    Die Mitgliedschaft läuft auf unbestimmte Zeit. Sie kann von dir und uns jederzeit mit sofortiger Wirkung ordentlich gekündigt werden.
    </p>

</p>

<p>
<br>
<h3>3. Nutzung von Sharit</h3>
    
    <p>
    3.1 Bei der Nutzung von „Sharit“ verpflichtest du dich, die geltenden gesetzlichen Vorschriften zu beachten. Das betrifft z.B. den Schutz der Persönlichkeitsrechte anderer Nutzer oder das Urheberrecht an Fotos.
    </p>

    <p>

    3.2 „Sharit“ ist kostenlos. Wir übernehmen keine Garantie oder Gewähr für Informationen auf „Sharit“, für Inhalte anderer Nutzer oder für eine bestimmte Verfügbarkeit oder Funktionalität von „Sharit“.
    </p>

    <p>

    3.3 Wir kontrollieren auf „Sharit“ gespeicherte Inhalte von Nutzern nicht vorab, behalten uns aber vor, diese jederzeit zu sperren oder zu löschen, insbesondere, wenn wir Kenntnis von einem Rechtsverstoß in einem Inhalt erhalten.
    </p>

    <p>
    3.4 Du darfst „Sharit“ nicht ohne unsere vorherige Zustimmung für geschäftliche Zwecke, z.B. für das gewerbliche Angebot von Waren oder Dienstleistungen oder Werbung, nutzen.
    </p>

    <p>
    3.5 Du bleibst Inhaber deiner Inhalte (z.B. von dir auf „Sharit“ veröffentlichte Fotos, Kommentare oder Beiträge). Soweit an deinem Inhalt ein Schutzrecht besteht (z.B. ein Urheberrecht an einem Foto oder Text), gewährst du uns mit deiner Nutzung von „Sharit“ das nicht-exklusive, zeitlich und räumlich unbeschränkte und, soweit hierfür erforderlich, übertragbare Recht, den Inhalt zum Zweck des Betriebs von „Sharit“ zu nutzen.
    </p>

    <p>
    3.6 An der Struktur und den Funktionalitäten von „Sharit“ sowie deren Bezeichnungen (z.B. bei Gruppen, Events) und den Datenbanken von „Sharit“ behalten bzw. erwerben bei Fortentwicklung nur wir die ausschließlichen und unbeschränkten Rechte.
    </p>

</p>

<p>
<br>
<h3>4. Änderung der Nutzungsbedingungen</h3>

    4.1 Mit deiner Zustimmung oder wenn deine Zustimmung nach den folgenden Bestimmungen als erteilt gilt, können wir die mit dir vereinbarten Nutzungsbedingungen anpassen (z.B. bei Einführung neuer Funktionen).
    4.2 Wenn wir die Nutzungsbedingungen ändern möchten, teilen wir dir dies mindestens sechs Wochen vor dem vorgeschlagenen Wirksamwerden in sog. Textform (also z.B. per E-Mail) mit. Widersprichst du nicht innerhalb von sechs Wochen nach Zugang dieser Mitteilung in Textform, gilt deine Zustimmung zur Änderung als erteilt und die Änderungen werden zum angekündigten Zeitpunkt wirksam. Auf diese Folge weisen wir dich in der Änderungsmitteilung besonders hin.
</p>

<p>
<br>
<h3>5. Anwendbares Recht</h3>

Es gilt deutsches Recht.
</p>
</div>