
<div class="col-md-4">
  <%= render 'layouts/user-sidebar' %>
</div>

<div class="col-md-8">

    <% if @user.posts.any? %>
	    <% @user.posts.each do |post| %>
      		<%= render :partial => "layouts/index-preview-bubble", :locals => {:post => post} %>
	    <% end %>
    <% else %>
    	<h3><%= @user.username %> hat leider noch keine Beiträge geteilt.</h3>
    <% end %>

</div>
