<div class="wrapper">
	<div class="col-md-4">
	  <%= render 'layouts/user-sidebar' %>
	</div>

	<div class="col-md-8">

	    <% if @user.posts.any? || @user.flikes.any? || @user.likes.any? %>
	    	<% if !@user.posts.any? %>
	    		<h3 class="show-page-heading">Du hast leider noch keine eigenen Beiträge erstellt.</h3>
	    	<% else %>
	    		<h3 class="show-page-heading">Eigene Beiträge</h3>
	    	<% end %>

	    	<div class="show-wrapper">
		    	<% @user.posts.reverse.each do |post| %>
			    	<div class="col-md-6">
		      			<%= render :partial => "layouts/index-preview-bubble", :locals => {:post => post} %>
			    	</div>
			    <% end %>
	    	</div>

		    <h3 class="show-page-heading">Deine Favoriten</h3>

		    <div class="show-wrapper">
			    <% @liked_fakeposts.reverse.each do |post| %>
			    	<div class="col-md-6">
				        <% if post.is_a?(Post) %>
				          <%= render :partial => "layouts/index-preview-bubble", :locals => {:post => post} %> 
				        <% else %>
				          <%= render :partial => "layouts/index_preview_fposts", :locals => {:post => post} %>  
				        <% end %>
			    	</div>
			    <% end %>
		    </div>

	    <% else %>
	    	<h3 class="show-page-heading">Du hast leider noch keine eigenen Beiträge oder Favoriten.</h3>
	    <% end %>

	</div>

</div>
