<div class="col-md-3">
  <%= render 'layouts/sidebar' %>
</div>

<div class="col-md-9">
  <div class="posts">
    <% @posts.each do |post| %>
      <%= render :partial => "layouts/preview-bubble", :locals => {:post => post} %>
    <% end %>
  </div>
</div>


