<div class="info col-md-6">
	<h2>Angepinnte Beiträge</h2>
	<p>
		Hier findest du die Créme de la Créme. Artikel, die von unseren Kuratoren als sehr lesenswert eingeschätzt und angepinnt wurden. 
	</p>
</div>


<%= render "layouts/carousel" %>

<hr> 


<div class="info col-md-12">
	<h2>Alle Beiträge</h2>
</div>

<% @allposts.in_groups_of(3).each do |post_array| %>
  <div class="row">
  <% post_array.each_with_index do |post, index| %>
    <div class="col-md-4">
      <% if post.is_a?(Post) %>
        <%= render :partial => "layouts/index-preview-bubble", :locals => {:post => post} %> 
      <% else %>
        <%= render :partial => "layouts/index_preview_fposts", :locals => {:post => post} %>  
      <% end %>
    </div>
  <% end %>
  </div>
<% end %>

<div class="col-md-12">
  <%= will_paginate @fposts, previous_label: "Vorherige", next_label: "Nächste" %>
</div>

