/*
 *= require owl.carousel
 *= require owl.theme
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$main: #393f42;
$secondary: #cedce4;
$background: #f7f8fb;
$pinned: #FFF793;
$copy: #727678;
$highlight: #71B280;
$gray-medium-light: #eaeaea;
$white: white;
$error: red;
$dark-grey: #3B362A;
$dark: #2C3135;
$light: #EDEFF5;

/* universal */


/* homepage */
.body_home {

  background: #134E5E; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #134E5E , #71B280); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #134E5E , #71B280); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */      


  div {
    margin-top:10em;
  }
}

.landing_buttons {
  margin-top: 3em !important;
}

body {
  padding-top: 60px;
  font-family: "Lato", sans-serif;
  background: $background;
}




.btn {
  padding: 1em 1.5em;
  border-radius: .35em;
  border-color: none;
  text-decoration: none;
  font-weight: 700;
  font-size: .9em;
  transition: all .4s ease-in-out;
}

.btn-primary {
  border-color: $highlight;
  background: $highlight;
  color: $white;
  &:hover {
    background: darken($highlight, 20%);
    border-color: darken($highlight, 20%);
    text-decoration: none;
  };
}

.btn-secondary{
  background: $secondary;
  color: $white;
  &:hover {
    background: darken($secondary, 20%);
    text-decoration: none;
  };
}

.btn-left {
  margin-right: 1.2em;
  background: none;
}

.btn-right {
  &:hover {
    background: lighten($white, 20%);
    color: $main;
  }
}

section {
  overflow: auto;
}

textarea {
  resize: none;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* Bootstrap columns*/
.col-md-3{
  padding-left: 0;
}

.col-md-9{
  padding-left: 0;
}

.box {
  display: flex;
  flex-wrap: wrap;
}

/* Bootstrap Flash*/
.alert {
  margin-top: -1em;
  text-align: center;
}

/* Fehlermeldungen */
.error {
  color: $error;
  list-style-type: none;
  float: left;
  font-size: 0.95em;
}

#error_explanation {
  color: $error;
  list-style-type: none;
  float: left;
  margin-top: -1.5em;
  font-size: 0.95em;
}

/* Sidebar */

#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  /*
  width: 16%;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  */
  transition: all 0.4s ease 0s;

  .avatar_info{
    img {
      height: 50px;
      width: 50px;
      border-radius: 100%;
    }    
  }
}

.avatar_info{
  margin-top: 3.4em;
}

.others {
  .other_avatars{
    img{
      height:50px;
      width: 50px;
      margin: 0.5em 0.5em 0.5em 0;
      border-radius:100%;
    }
  }
}
.sidebar-nav {
  list-style: none;
}

@media (max-width:767px) {

    #wrapper {
      padding-left: 0;
    }

    #sidebar-wrapper {
      left: 0;

      hr {
        width: 2em;
        height: 0;
        border-top: 2px solid $main;
        margin: 3em 0;
      }
    }

    #wrapper.active {
      position: relative;
      left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
      left: 250px;
      width: 250px;
      transition: all 0.4s ease 0s;
    }

}


/* Forms */

/* --- center forms vertically --- */


.forms {
  width: 40%;
  background: $white;
  box-shadow: 0px 9px 30px 0px rgba(44,55,79,0.07);
  border-radius: 25px 25px 25px 25px; 
  margin: 3.5em auto;
  padding: 1em 2em 2em 2em;

  h2{
    text-align: left;
  }
  input {
    width: 100%;
    margin-bottom: 2em;
  }

  textarea{
    width: 100%;
    margin-bottom: 2em;
    height: 10em;
  }
}

input[type="checkbox"]{
  width: 0;
}



.edit-profile, .new-post{
}

.info-text {
  color: grey;
}
/* Index Übersicht der Posts */

.index-preview {
  margin: 2em 0 0em 0;
  box-shadow: 0px 9px 30px 0px rgba(44,55,79,0.07);

  .image-text {
    height: 120px;
    background-color: $highlight;
    position: relative;
    overflow: hidden;
    filter: sepia(0);
    img {
      max-width: 100%; 
      object-fit: cover; 
      transition: all .2s ease-in-out;
      &:hover {
        filter: sepia(1);
      }
    }
    
    .text {
      position: absolute;
      background: rgba(0, 0, 0, 0.6);
      color: $white;
      transition: background 1s;
      padding: 0.5em;
      line-height: 1.3em;
      bottom: -0.6em;
      font-family: 'Lato', sans-serif;
      font-weight: 900;
      font-style: normal;
      width: 100%;
      a {
        text-decoration: none;
        color: $white;

        &:hover {
          color: darken($white, 30%);
        }
      }
    }
  }

  .comment {
    background: $white;
    min-height: 5.8em;
    .avatar {
      width: 45px;
      height: 45px;
      border-radius: 100%;
      overflow: hidden;
      float: left;
      margin: 1.5em 1.5em 0 1.5em;
      img {
        height: 100%;
      }
    }

    .curator-comment {
      margin: 0;
      padding: 1.2em;
    }
  }
}

.time-and-likes {
  overflow: auto;
  margin: 0.8em 0 2.5em 0;
}

.time, .likes, .icons{
  font-weight: 700;
  font-size: .8em;
  color: $main;
}

.time {
  float: left;
}

.likes, .icons {
  float: right;
  margin-left: 1em;
}

.fa-eye{
  font-size: 1.2em !important;
}



/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 4em;
  letter-spacing: 2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: 2px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1em;
  line-height: 1.7em;
}

a {
  transition: all .4s ease-in-out;
}

.home-font {
  font-family: "Pacifico", cursive;
  color: $white;
}

.subtitle {
  color: $white;
}

/* header */
.navbar {
  background: #134E5E; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #134E5E , #71B280); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #134E5E , #71B280); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */      
  border: none;
}

.navbar-inverse .navbar-nav > li > a {
  color: $white;
  &:hover {
    color: darken($white, 30%);
  }
}

.logout {
  margin-right: 15px;
}

.logo {
  float: left;
  margin-right: 10px;
  margin-left: 15px;
  font-size: 1.7em;
  color: $white;
  letter-spacing: -1px;
  padding-top: 9px;
  font-family: 'Pacifico', cursive;
  transition: all .4s ease-in-out;
  &:hover {
    color: darken($white, 30%);
    text-decoration: none;
  }
}

.header-logo{
  font-size: 1.15em !important;
}

/* Icons */
.logo-paper-plane{
  font-size: 4em !important;
  color: $white;
}

.fa-thumb-tack {
  color: $main !important ;
  font-size: 2em !important ;
  top: 0.9em !important ;
  right: 1em !important ;
}

/* footer */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 100px;
}

.main-content {
}

footer {
  background: $dark-grey;
  color: $white;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;

  a {
    color: $white;
    &:hover {
      color: darken($highlight, 20%);
    }
  }
  .container {
    margin-top: 3em;
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.static-info{
  margin-top: 3em;
}


/* Dashboard Header*/

.statistics{
  background: $dark-grey;
  color: $white;
  margin-top: -10px;
  margin-bottom: 1.5em;
  min-height: 9em;

  .container {
    padding: 2em 15px;

    p {
      margin-top: 0;
      margin-bottom: 0;
    }

    h4 {
      margin-bottom: 0.3em;
    }

    .col-md-4 {
      padding: 10;
      margin-bottom: 0.5em;
    }

    .personal {
      img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        float: left;
        margin-top: 1.5em;
      }
      .personal-stats{
        margin-left: 4.5em;
      }
    }

    .sharit-stats{
      text-align: right;
    }
  }
}

.alert {
  margin-bottom: 0;
}


/* Carousel */
.owl-item {
  padding: 0 15px;
}

.customNavigation {
  text-align: center;
}

.info {
  padding: 0 15px;
  h2 {
    text-align: left;
    margin-bottom: 0.5em;
  }
}

.prev, .next {
  color: $highlight;
}

.owl-wrapper-outer {
  /*background: $pinned;*/
}


/* Pagination */

.pagination:before,
.pagination:after {
  content: “ “;
  display: table;
}

.pagination:after {
  clear: both;
}

.pagination {
  text-align: center;
  margin: 2em auto 3em auto;
  width: 100%;
  a, .previous_page, .current, .next_page {
    padding: 0.75rem 1rem;
    margin: 0 .25rem;
    border-radius: .15rem;
    line-height: 20px;
    text-decoration: none;
    background-color: $light ;
    font-size: .8em;
    font-style: normal;
    color: $dark ;
    &:hover {
      background: $highlight;
      color: $white;
    }
  }
  .disabled {
    color: #C0C0C0;
    &:hover {
      color: #C0C0C0;
    }
  }
  .current {
    background: $highlight;
    color: $white;
  }
}

.info-box, .profile {
  background: $white;
  box-shadow: 0px 9px 30px 0px rgba(44, 55, 79, 0.07);
  padding: 1em 2em;
  margin: 1em;
  margin-bottom: 2em;
}

.profile {
  display: inline-block;
  text-align: center;

  h2 {
    margin-bottom: 0;
    text-align: center !important;
  }

  .profile-photo{
    border-radius: 100%;
    width: 6em;
    height: 6em;
    margin: 1em 0.5em 0.5em 0.5em;
  }

  .profile-info {
    text-align: left;
  }
}


/* Profil bearbeiten */

.edit-profile {
  h2 {
    text-align: center;
  }

  .profile-pic {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 0 auto;
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 100%;
      width: auto;
      -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);      
      border-radius: 100%;
    }
  }
}
@import "normalize";
@import "home";
@import "font-awesome";
