<a class="btn prev">< Vorheriges</a>
<div id="owl-carousel">

  <% @pinned.each do |post| %>
  	<div>
      <% if post.is_a?(Post) %>
        <%= render :partial => "layouts/index-preview-bubble", :locals => {:post => post} %> 
      <% else %>
        <%= render :partial => "layouts/index_preview_fposts", :locals => {:post => post} %>  
      <% end %>
  	</div>
  <% end %>

</div>
  <a class="btn next">Nächstes ></a>
<div class="customNavigation">
  

</div>




<script type="text/javascript">
    $(document).ready(function(){
    	var owl = $("#owl-carousel");

        owl.owlCarousel({
           	slideSpeed: 300,
           	paginationSpeed: 400,
           	items: 3
        });

        // Custom navigation events

        $(".next").click(function(){
        	owl.trigger('owl.next');
        })
        $(".prev").click(function(){
        	owl.trigger('owl.prev');
        })

    });
</script>