<div id="owl-carousel">

  <% @pinned_posts.each do |post| %>
  	<div>
      <%= render :partial => "layouts/index-preview-bubble", :locals => {:post => post} %>  
  	</div>
  <% end %>

</div>

<div class="customNavigation">
  <a class="btn prev">Vorheriges</a>
  <a class="btn next">Nächstes</a>
</div>




<script type="text/javascript">
    $(document).ready(function(){
    	var owl = $("#owl-carousel");

        owl.owlCarousel({
           	slideSpeed: 300,
           	paginationSpeed: 400,
           	items: 3
        });

        // Custom navigation events

        $(".next").click(function(){
        	owl.trigger('owl.next');
        })
        $(".prev").click(function(){
        	owl.trigger('owl.prev');
        })

    });
</script>