<footer class="footer">
  <div class="container">
    <small>
      Sharit AG Copyright 2016
    </small>
    <nav>
      <ul>
        <li><%= link_to "FAQ", "#" %></li>
        <li><%= link_to "Datenschutz", about_path %></li>
        <li><%= link_to "Nutzungsbedingungen", "#" %></li>
        <li><%= link_to "Impressum", impressum_path %></li>
      </ul>
    </nav>
  </div>
</footer>