<footer id="footer">
  <div class="container footer-text">
    <small>
      Heroku AG Copyright 2017
    </small>
    <nav>
      <ul>
        <li><%= link_to "Über uns", about_path %></li>
        <li><%= link_to "Datenschutz", datenschutz_path %></li>
        <li><%= link_to "Nutzungsbedingungen", nutzung_path %></li>
        <li><%= link_to "Impressum", impressum_path %></li>
      </ul>
    </nav>
  </div>
</footer>