<footer class="footer">
  <small>
    Sharify Inc. Copyright 2016
  </small>
  <nav>
    <ul>
      <li><%= link_to "Über uns", about_path %></li>
      <li><%= link_to "Impressum", impressum_path %></li>
      <li><a>News</a></li>
    </ul>
  </nav>
</footer>