<div class="statistics">
  <div class="container">
      <div class="col-md-4 personal">
        <%= image_tag "avatar.png" %>
        <div class="personal-stats">
      		<h4>Hallo <%= current_user.username %>! Du bist Kurator</h4>
     		<p>Beiträge: <%= current_user.posts.size %></p>
     		<p>Angepinnte Beiträge: <%= current_user.posts.where(pinned: true).size %> von 1</p>
        </div>

      </div>

      <div class="col-md-8 sharit-stats">
      	<h4>Schau mal, wieviele Sharit bereits nutzen!</h4>
     	<p>Kuratoren: 16</p>
     	<p>Leser (heute): 213</p>
      </div>

  </div>
</div>