    <div id="sidebar-wrapper">
    	<div class="avatar_info">
    	  <%= link_to(image_tag("ngoc_avatar.jpg"), user_path(@user) ) %>
    	</div>

    	<hr>

    	<div class="readers">
    	  <h4>Profil von <%= @user.email %></h4>
    	  <p>Hier findest du alle Beiträge von <%= @user.email %></p>
    	</div>
    </div>